body {
  background-color: rgb(36, 36, 36);
}

h1, h2 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  padding-left: 50px;
}

h2 {
  margin-bottom: 5px;
}

#f-list {
  margin-top: 50px;
}

#input1, #input2 {
  margin-bottom: 10px;
  margin-left: 50px;
}

#food-button, #reset-tasks {
  background-color: rgb(36, 36, 36);
  border: none;
  color: white;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid white;
  margin-left: 50px;
  transition-duration: 0.5s;
}

#submit1, #submit2 {
  background-color: rgb(36, 36, 36);
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid white;
  margin-left: 5px;
  transition-duration: 0.5s;
}

#submit1:hover, #submit2:hover {
  background-color: rgb(49, 122, 0);
  color: rgb(255, 255, 255);
}

#food-button:hover, #reset-tasks:hover {
  background-color: white;
  color: rgb(36, 36, 36);
}

p {
  font-size: 18px;
  padding-left: 50px;
  font-family: 'Quicksand', sans-serif;
  color: white;
}